<h1>Welcome!</h1>

<p> This page functions as a paper, rock, scissors game. All you have to do, and I know it's super confusing, is for player 1 to type in their hand, followed by a /, and for player 2 to type their hand. Refresh the browser to see the result!</p>
