<h1>Welcome!</h1>

<p> This page functions as a paper, rock, scissors game. In all honesty, it's easier to play with your actual hands. But, if you want to try it, by all means, be my guest.</p>

<p> All you have to do is type in the browser 'localhost:4567/game/hand1/hand2', with hand1 and hand2 being placeholders for whatever item you'd like to play (rock, paper or scissors). Hit refresh and the website will display the result :) </p>
